.articles {
	padding-top: 2rem;
	display: flex;
	flex-flow: column wrap;
	gap: 0.5rem;
	align-items: left;
	max-width: 65rem;
  	margin-left: auto;
 	margin-right: auto;
  	padding-left: 1.25rem;
  	padding-right: 1.25rem;
}

.articles li {
	display: block;
	min-width: 350px;
}
