img {
	height: auto;
}

article {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 0.5rem;
	max-width: 65rem;
  	margin-left: auto;
 	margin-right: auto;
  	padding-left: 1.25rem;
  	padding-right: 1.25rem;
}

pre, code {
  max-width: 100%;
  overflow-x: auto;
  overflow-wrap: anywhere;
}

.katex-display {
  display: block;
  overflow-y: hidden;
}
