:root {
	--color-light: white;
	--color-text-primary: #fff;
	--color-dark: #aaaaaa;
	--color-light: #aaaaaa;
	--color-primary-shade: #222222;
	--color-light-shade: #dddddd;
	--font-family-sans: -apple-system, BlinkMacSystemFont, sans-serif, Arial;
	--spacing-header-items: 0.5rem;
}
/* reset */
/* Box sizing rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* end reset */


/*.mainpage-flexbox {
	display: flex;
	flex-direction: column;
}*/

body {
	color: var(--color-text-primary);
	font-family: var(--font-family-sans);
}

html {
	background-color: rgb(26, 26, 26);
}

/*body, html {
	min-height: 100%;
	height: 100%;
}*/

a {
	text-decoration: none;
	color: inherit;
}

/* See https://every-layout.dev/layouts/stack/ */
.stack > * + * {
  margin-block-start: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: columns;
  justify-content: flex-start;
}


.skip-link {
  display: inline-block;
  padding: 0.7rem 1rem 0.5rem 1rem;
  background: var(--color-light);
  color: var(--color-primary-shade);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.skip-link:hover {
  background: var(--color-dark);
  color: var(--color-light-shade);
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
