---
import Page from "../components/Page.astro"
import "../styles/about.css"
---
<Page>
<div class="about-wrapper">
	<div>
		I have 8+ years experience in programming across a range of different domains from computer graphics to embedded systems. I have experience with Rust, C/C++, Python, C# and Java. 
	</div>

	<div>
		I am currently studying computer science at RMIT. I was a programming lead at the EMU5 (Engineering and Mechatronics at Melbourne University) robotics competition team. I hold programming workshops/events at multiple universities.
	</div>
	<a href="https://github.com/nonl4331">GitHub: https://github.com/nonl4331</a>
</div>
</Page>
