---
import Page from "../components/Page.astro"
import "../styles/about.css"
---
<Page>
<div class="about-wrapper">
	<a href="https://github.com/nonl4331">github: https://github.com/nonl4331</a>
</div>
</Page>
