---
import "../styles/projects.css"
import Page from "../components/Page.astro"
---
<Page>
	<div class="grid-wrapper">
		<div class="project-grid">
			<a class="project large" href="https://github.com/nonl4331/yapt" style="background-image: url(/yapt.png); background-position: center;">
				<div style="text-align: center;"><h1>YAPT</h1>Offline Rendering Engine</div>
			</a>
			<a class="project" href="https://github.com/nonl4331/FFN-MNIST" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/mnist.png)">
				<div style="text-align: center;"><h1>FFN</h1>Handwritten digit classification from scratch</div>
			</a>
			<a class="project" href="https://github.com/nonl4331/moissanite" style="background-image: url(/spectral.webp); background-position: 50% 75%;">
				<div style="text-align: center;"><h1>Moissanite</h1>Physically based spectral path tracer</div>
			</a>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/firecracker.png);">
				<div style="text-align: center;";><h1>Firecracker</h1>Robot code for the 2024-2025 VEX U season</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/berryberry.png);">
				<div style="text-align: center;";><h1>BerryBerry</h1>Bespoke and experimental static site generator</div>
			</div>
			<div class="project" style="background-image: url(/sleek.png);">
				<div style="text-align: center;";><h1>Sleek</h1>Minimal X11 screenshot utility</div>
			</div>
			<div class="project" style="background-image: url(/colour_palette.png);">
				<div style="text-align: center;";><h1>Colour Palette</h1>Generate colour palettes from images</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/robot_algorithms.png);">
				<div style="text-align: center;";><h1>Robot Algorithms</h1>A collection of handwritten robotics algorithms for use in Rust embedded enviornments</div>
			</div>
			<div class="project" style="background-image: url(/molple.png);">
				<div style="text-align: center;";><h1>moLpl-</h1>Worlde clone that works in the terminal</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/penumbra.png);">
				<div style="text-align: center;";><h1>Penumbra</h1>A work in progress chess engine</div>
			</div>
			<div class="project" style="background-image: url(/path_gui_editor.png);">
				<div style="text-align: center;";><h1>Path GUI editor</h1>A bespoke GUI editor for pathing with remote logging support</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/serial_comms.png);">
				<div style="text-align: center;";><h1>Serial communication</h1>Communication and protocol for bidirection communicatoin to the V5 brain over usb serial</div>
			</div>
			<div class="project" style="background-image: url(/lc3.png);">
				<div style="text-align: center;";><h1>LC3 Parser</h1>Minimal parser for the LC3 assembly language</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/lemon.png);">
				<div style="text-align: center;";><h1>Lemon</h1>Robot code for the 2023-2024 VEX U season</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/simple_interpreter.png);">
				<div style="text-align: center;";><h1>Simple Interpreter</h1>A basic interpreter that can parse and perform math</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/hanoi_tui.png);">
				<div style="text-align: center;";><h1>Tower of Hanoi</h1>Tower of Hanoi in your terminal</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/website.png);">
				<div style="text-align: center;";><h1>nonl.knao.net</h1>This website</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/rt_rust.png);">
				<div style="text-align: center;";><h1>raytracing-rust</h1>An experimental testbad for advanced path tracing</div>
			</div>
			<div class="project" style="background-image: linear-gradient(0deg, #00000088 100%, #00000088 100%), url(/salty_rename.png);">
				<div style="text-align: center;";><h1>Salty Rename</h1>Rename files based on file prefix and a runtime salt.</div>
			</div>
		</div>
	</div>
</Page>
